h1,
h2 {
  text-align: center;
}

/* 
Can we merge this CSS into the Home.css file so that they aren't competing?
*/
.CodeClear {
  margin-top: 200px;
}


.App-logo {
  height: 35vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
   
    
  }
  to {
    transform: rotate(360deg);
  }
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 5s linear;
   
   
  }
  .App-logo::backdrop{
    transform: scale(4);
  }

}
.infinite{
  display: flex;
  justify-content: center;
 margin: auto;
  width: 700px;
  
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes example {
  0%   {background-color:none; left:0px; top:0px;}
  25%  {background-color:none; left:-300px; top:0px;}
  50%  {background-color:none; left:300px; top:200px;}
  75%  {background-color:none; left:0px; top:200px;}
  100% {background-color:none; left:0px; top:0px;}
}