html {
  min-height: 100%;
}

body {
  margin: 0;
  font: 1.5em impact;
  /* color: #F9C80E; */
  /* color: #FF4365; */
  color: #FD1D53;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#261447d9, black); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}